Liofilizador_Mother_Board.X/nbproject/private/private.xml
Liofilizador_Mother_Board.X/build/default/production/I2C.p1.d.tmp
Liofilizador_Mother_Board.X/build/default/production/Voltagem.p1.d.tmp
Liofilizador_Mother_Board.X/build/default/production/eeprom.p1.d.tmp
Liofilizador_Mother_Board.X/build/default/production/isr.p1.d.tmp
Liofilizador_Mother_Board.X/build/default/production/ntc10k.p1.d.tmp
Liofilizador_Mother_Board.X/build/default/production/Voltagem.p1.out
Liofilizador_Mother_Board.X/build/default/production/adc.p1.d.tmp
Liofilizador_Mother_Board.X/build/default/production/isr.p1.out
Liofilizador_Mother_Board.X/build/default/production/pt100.p1.out

